{% extends "navbar.html" %}

{% block content %}
<body>
         <link rel = "stylesheet" type = "text/css" href = "/static/css/fretboard.css">
         <!-- 
   <div class="neck">
            
            
            <ul class="frets">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            
            <ul id="strings" class="strings">
                
                    <li data-note="E">
                            <div class="clear_div"></div>
                        <ul class="notes">
                            
                                
                                    <li>E</li>
                                
                            
                                
                                    <li class="invisible">F</li>
                                
                            
                                
                                    <li>F#</li>
                                
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                                
                                    <li>G#</li>
                                
                            
                                
                                    <li>A</li>
                                
                            
                                
                                    <li class="invisible">A#</li>
                                
                            
                                
                                    <li>B</li>
                                
                            
                                
                                    <li class="invisible">C</li>
                                
                            
                                
                                    <li>C#</li>
                                
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                                
                                    <li>D#</li>
                                
                            
                                
                                    <li>E</li>
                                
                            
                        </ul>
                    </li>
                
                    <li data-note="B">
                            <div class="clear_div"></div>
                        <ul class="notes">
                            
                                
                                    <li>B</li>
                                
                            
                                
                                    <li class="invisible">C</li>
                                
                            
                                
                                    <li>C#</li>
                                
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                                
                                    <li>D#</li>
                                
                            
                                
                                    <li>E</li>
                                
                            
                                
                                    <li class="invisible">F</li>
                                
                            
                                
                                    <li>F#</li>
                                
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                                
                                    <li>G#</li>
                                
                            
                                
                                    <li>A</li>
                                
                            
                                
                                    <li class="invisible">A#</li>
                                
                            
                                
                                    <li>B</li>
                                
                            
                        </ul>
                    </li>
                
                    <li data-note="G">
                            <div class="clear_div"></div>
                        <ul class="notes">
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                                
                                    <li>G#</li>
                                
                            
                                
                                    <li>A</li>
                                
                            
                                
                                    <li class="invisible">A#</li>
                                
                            
                                
                                    <li>B</li>
                                
                            
                                
                                    <li class="invisible">C</li>
                                
                            
                                
                                    <li>C#</li>
                                
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                                
                                    <li>D#</li>
                                
                            
                                
                                    <li>E</li>
                                
                            
                                
                                    <li class="invisible">F</li>
                                
                            
                                
                                    <li>F#</li>
                                
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                        </ul>
                    </li>
                
                    <li data-note="D">
                            <div class="clear_div"></div>
                        <ul class="notes">
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                                
                                    <li>D#</li>
                                
                            
                                
                                    <li>E</li>
                                
                            
                                
                                    <li class="invisible">F</li>
                                
                            
                                
                                    <li>F#</li>
                                
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                                
                                    <li>G#</li>
                                
                            
                                
                                    <li>A</li>
                                
                            
                                
                                    <li class="invisible">A#</li>
                                
                            
                                
                                    <li>B</li>
                                
                            
                                
                                    <li class="invisible">C</li>
                                
                            
                                
                                    <li>C#</li>
                                
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                        </ul>
                    </li>
                
                    <li data-note="A">
                            <div class="clear_div"></div>
                        <ul class="notes">
                            
                                
                                    <li>A</li>
                                
                            
                                
                                    <li class="invisible">A#</li>
                                
                            
                                
                                    <li>B</li>
                                
                            
                                
                                    <li class="invisible">C</li>
                                
                            
                                
                                    <li>C#</li>
                                
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                                
                                    <li>D#</li>
                                
                            
                                
                                    <li>E</li>
                                
                            
                                
                                    <li class="invisible">F</li>
                                
                            
                                
                                    <li>F#</li>
                                
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                                
                                    <li>G#</li>
                                
                            
                                
                                    <li>A</li>
                                
                            
                        </ul>
                    </li>
                
                    <li data-note="E">
                            <div class="clear_div"></div>
                        <ul class="notes">
                            
                                
                                    <li>E</li>
                                
                            
                                
                                    <li class="invisible">F</li>
                                
                            
                                
                                    <li>F#</li>
                                
                            
                                
                                    <li class="invisible">G</li>
                                
                            
                                
                                    <li>G#</li>
                                
                            
                                
                                    <li>A</li>
                                
                            
                                
                                    <li class="invisible">A#</li>
                                
                            
                                
                                    <li>B</li>
                                
                            
                                
                                    <li class="invisible">C</li>
                                
                            
                                
                                    <li>C#</li>
                                
                            
                                
                                    <li class="invisible">D</li>
                                
                            
                                
                                    <li>D#</li>
                                
                            
                                
                                    <li>E</li>
                                
                            
                        </ul>
                    </li>
                
                
            </ul>
            
            
            
            
            
            
            <div class="dot container">
              
                <ul class="dots">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
          
                <ul class="dots_multi">
                    <li></li>
                    <li></li>
                </ul>
            </div>
            
            <div class="nut">
               
            </div>
                
            
        </div>

-->
<!-- <script src="/static/js/fretboard.js"></script> -->


<table class = "neck">
        <tr class = "string" data-note = "E">
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
        </tr>
        <tr class = "string" data-note = "B">
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
        </tr>
        <tr class = "string" data-note = "G">
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
        </tr>
        <tr class = "string" data-note = "B">
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
        </tr>
        <tr class = "string" data-note = "E">
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
        </tr>
        <tr class = "string">
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
            <td>
                <div class = "note">E</div>
            </td>
        </tr>
</table>


</body>
{% endblock %}