{% extends "fretboard/header.html" %}

{% block content %}
    <ul>
        <h2>Scales</h2>
            <li>
                <ul>
                    <h3>Diatonic</h3>
                    <li>Major (Ionian)</li>
                    <li>Dorian</li>
                    <li>Phrygian</li>
                    <li>Lydian</li>
                    <li>Mixolydian</li>
                    <li>Natural Minor (Aeolian)</li>
                    <li>Locrian</li>
                </ul>
            </li>
    </ul>
{% endblock %}