{% extends "navbar.html" %}

{% block content %}
    <ul>
        <h2>Scales</h2>
            <li>
                <ul>
                    <h3>Diatonic</h3>
                    <li>Major (Ionian)</li>
                    <li>Dorian</li>
                    <li>Phrygian</li>
                    <li>Lydian</li>
                    <li>Mixolydian</li>
                    <li>Natural Minor (Aeolian)</li>
                    <li>Locrian</li>
                </ul>
            </li>
            <li>
                <ul>
                    <h3>Melodic Minor</h3>
                    <li>Melodic Minor</li>
                    <li>Dorian b2</li>
                    <li>Lydian Augmented</li>
                    <li>Lydian Dominant</li>
                    <li>Melodic Major</li>
                    <li>HalfDiminished</li>
                    <li>Super Locrian</li>
                </ul>
            </li>
    </ul>

    <link rel="stylesheet" href="/static/css/fretboard/fretboard_index.css">
{% endblock %}