
.neck {
    margin: 20px auto;
    background-color: rgb(40, 31, 18);

    width: 97.5vw;
    height: 30vw;
    box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    
    /* Make elements on neck unselectable*/
    /* And normal cursor by default */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    
    overflow: hidden;
    border-collapse: collapse;

    table-layout: fixed;
    box-sizing: border-box;
    border: none;
}

.note {    width: 25%;
    margin: auto;
    font-size: 2vw;

}

/* first fret 

/* frets */
.string td {
    border-right: 2px solid #686868;
    border-spacing: 0px;
    overflow: visible;
    height: 0;
}

.string td tr {
    height: 100%;
}

.string td:after{
    content: "";
    display: block;
    width: 110%;
    height: 1px;
    background-color: black;
    position: relative;
    margin-top: -18%;
    margin-left: 0vw;
    overflow: visible;
}

/* first fret is the nut */
.string td:nth-child(1) {
    border-right: 2vw solid #686868;

    width: 4vw;

}

.string td:nth-child(2) {
}

.string td:nth-child(1):after{
    margin-top: -32%;
}

