{% extends "navbar.html" %}

{% block content %}
<body>
    <h1>Piano Visualization</h1>
        
    <div class = "piano_container">
    <ul class = "piano_body">
        <li class = "key white c">
            <div class = "note">C</div>
        </li>
        <li class = "key black cs">
            <div class = "note">C#</div>
        </li>
        <li class = "key white d">
            <div class = "note">D</div>
        </li>
        <li class = "key black ds">
            <div class = "note">D#</div>
        </li>
        <li class = "key white e">
            <div class = "note">E</div>
        </li>
        <li class = "key white f">
            <div class = "note">F</div>
        </li>
        <li class = "key black fs">
            <div class = "note">F#</div>
        </li>
        <li class = "key white g">
            <div class = "note">G</div>
        </li>
        <li class = "key black gs">
            <div class = "note">G#</div>
        </li>
        <li class = "key white a">
            <div class = "note">A</div>
        </li>
        <li class = "key black as">
            <div class = "note">A#</div>
        </li>
        <li class = "key white b">
            <div class = "note">B</div>
        </li>
        <li class = "key white c">
            <div class = "note">C</div>
        </li>
        <li class = "key black cs">
            <div class = "note">C#</div>
        </li>
        <li class = "key white d">
            <div class = "note">D</div>
        </li>
        <li class = "key black ds">
            <div class = "note">D#</div>
        </li>
        <li class = "key white e">
            <div class = "note">E</div>
        </li>
        <li class = "key white f">
            <div class = "note">F</div>
        </li>
        <li class = "key black fs">
            <div class = "note">F#</div>
        </li>
        <li class = "key white g">
            <div class = "note">G</div>
        </li>
        <li class = "key black gs">
            <div class = "note">G#</div>
        </li>
        <li class = "key white a">
            <div class = "note">A</div>
        </li>
        <li class = "key black as">
            <div class = "note">A#</div>
        </li>
        <li class = "key white b">
            <div class = "note">B</div>
            
        </li>
        
        
    </ul>
    </div>

<link rel = "stylesheet" type = "text/css" href = "/static/css/piano.css">
<script src="/static/js/piano.js"></script>

</body>
{% endblock %}